extends ../layout

block content
    .row
        p Doctor CSV file import
        p File location: /public/data/csv/doctors.csv
        form(action='/admin/importCsvFile', method='POST')
            button.btn.btn-primary(type='submit') Import CSV file
