[submodule "submodules/bootstrap"]
	path = submodules/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "submodules/backbone"]
	path = submodules/backbone
	url = https://github.com/documentcloud/backbone.git
[submodule "submodules/underscore"]
	path = submodules/underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "submodules/require-jquery"]
	path = submodules/require-jquery
	url = https://github.com/jrburke/require-jquery.git
[submodule "submodules/jquery-iframe-transport"]
	path = submodules/jquery-iframe-transport
	url = http://github.com/cmlenz/jquery-iframe-transport
[submodule "submodules/pathfinding"]
	path = submodules/pathfinding
	url = https://github.com/qiao/PathFinding.js.git
