doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='javascripts/require-jquery.js', data-main="javascripts/itworks.main.js")
  body
    block content