- if (typeof(title) == 'undefined')
    title = 'Map Editor'

doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.css')
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    block head
  body
    .kioskContainer
        block content