- if (typeof(title) == 'undefined')
    title = 'Map Editor'

doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.css')
    block head
  body
    .kioskContainer
        block content