title Login to MapEditor
link(rel='stylesheet', href='/stylesheets/app.css')
.container
    .row
        div
          div#header
            h2 Map Editor
          div
            form(action='/login', method='POST')
              #login.center
                label(for='email') Email:
                input(type='text', name='email', placeholder='email@email.com')
              #password.center
                label(for='password') Password:
                input(type='password', name='password', placeholder='password')
              #submit.button
                input(type='submit', value='Log In!') Login