    <div class="row">
        <div class="containerHorizontal messages-intro">
            <div>
                <div class="createMessageFormContainer">
                        <div class="createMessageFormContainerWraper">
                            <div class="control-group">
                                <label class="control-label" for="roomNumber">Numero de habitacion</label>

                                <div class="controls">
                                    <input type="text" class="input-block-level" id="roomNumber" name="roomNumber" >
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="name">Nombre</label>

                                <div class="controls">
                                    <input type="text" class="input-block-level" id="name" name="name" >
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="email">Email</label>

                                <div class="controls">
                                    <input type="text" class="input-block-level" id="email" name="email" >
                                </div>
                            </div>
                        <div>
                            <div class="text-error"></div>
                            <div class="btnWriteMessage"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="btnMessageHome" class="navItem" data-navitem="messages"></div>
        </div>
        <div id="keyboardPortrait" class="keyboard hide"></div>
    </div>