<div class="row">
    <div class="containerHorizontal messages-intro">
        <div class="writeMessageContainer">
            <div>
                <div>
                    <div class="control-group">
                        <label class="control-label" for="message">Escribe tu mensaje de maximo 140 caracteres!</label>

                        <div class="controls">
                            <textarea id="message" name="message"></textarea>
                        </div>
                    </div>
                    <div>
                        <div class="text-error"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="keyboardPortrait" class="keyboard hide"></div>
</div>