<div class="row">
    <div class="containerHorizontal">
        <div>
            <h1>Here we WRITE a message!!!!</h1>
            <div>
                <div class="control-group">
                    <label class="control-label" for="message">Mensaje</label>

                    <div class="controls">
                        <textarea rows="12" cols="12" id="message" name="message"></textarea>
                    </div>
                </div>
                <div>
                    <div class="text-error"></div>
                    <div class="navItem btnSubmitMessage" data-navitem="messageSent"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="keyboard hide"></div>
</div>