<link rel="stylesheet" type="text/css" href="/javascripts/bootstrap-wysihtml5/dist/bootstrap-wysihtml5-0.0.2.css"></link>

<div class="row-fluid">
    <div class="well">
        <form id="frmModel" enctype="multipart/form-data">
            <fieldset>
                <legend>Edit Service</legend>
                <div class="control-group">
                    <label class="control-label" for="title">Title</label>

                    <div class="controls">
                        <input type="text" class="input-block-level" id="title" name="title" value="<%= model.title %>">
                    </div>
                </div>
                <div class="control-group">
                    <% if (typeof(imageUrl) != 'undefined') {%>
                    <img id="imgService" src="<%=imageUrl%>" alt="mapIcon"/>
                    <% } %>
                    <div>
                        <button class="btn btn-small btn-primary btnChangeImage" data-folder="services" data-name="imageUrl">Change image</button>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Description</label>

                    <div class="controls span12">
                        <textarea class="field span12" placeholder="Enter content ..." name="description" rows="20"><%= model.description %></textarea>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                    <button class="btn navItem" data-navitem="services">Cancel</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>


