<div class="well">
    <form>
        <fieldset>
            <legend>Create Tunnel</legend>
            <div class="control-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="name" name="name" value="<%=model.name%>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="description">Description</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="description" name="description" value="<%=model.description%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    Map 1
                    <select name="mapId1">
                        <% for (var i = 0; i < maps.length; i++) { %>
                        <% var map = maps[i]; %>
                        <% if (map._id == model.mapId1) { %>
                        <option value="<%=map._id%>" selected><%=map.name%></option>
                        <%} else { %>
                        <option value="<%=map._id%>" ><%=map.name%></option>
                        <%}%>
                        <% } %>
                    </select>
                </label>
            </div>
            <div class="control-group">
                <label class="control-label">X</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" name="node1[x]" value="<%=model.node1.x%>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Y</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" name="node1[y]" value="<%=model.node1.y%>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Map 2
                    <select name="mapId2">
                        <% for (var i = 0; i < maps.length; i++) { %>
                        <% var map = maps[i]; %>
                        <% if (map._id == model.mapId2) { %>
                        <option value="<%=map._id%>" selected><%=map.name%></option>
                        <%} else { %>
                        <option value="<%=map._id%>" ><%=map.name%></option>
                        <%}%>
                        <% } %>
                    </select>
                </label>
            </div>
            <div class="control-group">
                <label class="control-label">X</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" name="node2[x]" value="<%=model.node2.x%>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Y</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" name="node2[y]" value="<%=model.node2.y%>">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" id="btnSubmit">Save</button>
                <button class="btn navItem" data-navitem="tunnels">Cancel</button>
            </div>
        </fieldset>
    </form>
</div>
