@import "../../submodules/bootstrap/less/bootstrap.less";

a {
    cursor: pointer;
}

// home screen
.home-container {
  background-image: url('/images/home/bkgd_home.jpg');
  background-repeat:no-repeat;
  .size(1280px,720px);
}
#btnMedicos {
  background-image: url('/images/home/btnMedicos.png');
  background-repeat:no-repeat;
  .size(267px,667px);
  cursor: pointer;
  position: relative;
  top:315px;
  left:56px;
}

#btnServicios {
  background-image: url('/images/home/btnServicios.png');
  background-repeat:no-repeat;
  .size(211px,648px);
  cursor: pointer;
  position: relative;
  top:320px;
}

#btnMapa {
  background-image: url('/images/home/btnMapa.png');
  background-repeat:no-repeat;
  .size(249px,648px);
  cursor: pointer;
  position: relative;
  top:312px;
  left:74px;
}

// maps
.map-container {
  background-image: url('/images/maps/bkgd_maps.jpg');
  background-repeat:no-repeat;
  .size(1280px,720px);
}

#search-form {
  position: absolute;
  top:150px;
}

#mapCanvas{
  position: absolute;
  top:215px;
  margin-left: 30px;
}

// header menu
.menuHeader {
  position: relative;

  .headerMenuItem {
    float: left;
    cursor: pointer;
  }

  #mnuItemDoctors {
    background-image: url('/images/menu/doctors.png');
    .size(129px,175px);
  }
  #mnuItemServices {
    background-image: url('/images/menu/services.png');
    .size(142px,184px);
  }
  #mnuItemMaps {
    background-image: url('/images/menu/maps.png');
    .size(139px,188px);
  }
  #mnuItemHome {
    background-image: url('/images/menu/home.png');
    .size(129px,170px);
  }
}


