@import "../../submodules/bootstrap/less/bootstrap.less";

a {
    cursor: pointer;
}

// home screen
.home-container {
  background-image: url('/images/home/bkgd_home.jpg');
  background-repeat:no-repeat;
  .size(1280px,724px);
}
#btnMedicos {
  background-image: url('/images/home/btnMedicos.png');
  background-repeat:no-repeat;
  .size(267px,667px);
  cursor: pointer;
  position: relative;
  top:315px;
  left:56px;
}

#btnServicios {
  background-image: url('/images/home/btnServicios.png');
  background-repeat:no-repeat;
  .size(211px,648px);
  cursor: pointer;
  position: relative;
  top:320px;
}

#btnMapa {
  background-image: url('/images/home/btnMapa.png');
  background-repeat:no-repeat;
  .size(249px,648px);
  cursor: pointer;
  position: relative;
  top:312px;
  left:74px;
}

// maps
.map-container {
  background-image: url('/images/maps/bkgd_maps.jpg');
  background-repeat:no-repeat;
  .size(1280px,724px);
}

#search-form {
  position: absolute;
  top:150px;
}

#mapCanvas{
  position: absolute;
  top:215px;
  margin-left: 30px;
}


