<div class="keyboardRow">
    <div id="hideKeyboard" class="btnKey clickable pull-left">SALIR</div>
    <div class="btnKey clickable clearContents pull-left">LIMPIAR</div>
    <div class="btnKey clickable deleteChar pull-left">BORRAR</div>
    <div id="inputDone" class="btnKey clickable pull-right">HECHO</div>
</div>
<div class="keyboardSwap">
<div id="keyBoardRow1" class="keyboardRow">
</div>
<div id="keyBoardRow2" class="keyboardRow">
</div>
<div id="keyBoardRow3" class="keyboardRow">
</div>
</div>
<div class="keyboardSwap hide">
    <div id="keyBoardRow4" class="keyboardRow">
    </div>
    <div id="keyBoardRow5" class="keyboardRow">
    </div>
    <div id="keyBoardRow6" class="keyboardRow">
    </div>
</div>
<div class="keyboardRow spaceContainer">
    <div id="swapKeyboard" class="btnKeyLarge clickable pull-left">123/+@-</div>
    <div id="keySpace" class="clickable pull-left"></div>
</div>

