<div class="modal-client modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <% if (model) { %>
        <div class="pull-left">
        <h3><%=model.name%></h3>
        </div>
        <% } %>
        <div class="pull-right">
            <a class="genericCallback" href="#">
                <img src="/images/services/icon.png" data-callback="navigateTo" />
            </a>

        </div>
    </div>
    <div class="modal-body">
        <% if (model) { %>
        <div>
            <div class="pull-left">
                <img src="<%= imageUrl %>" alt=" data-id="<%= model._id %>">
            </div>
            <div class="pull-left">
                <p><%=model.description%><p>
            </div>
        </div>
        <% } %>
    </div>
</div>