<% if (search.haveSearched) { %>
<% if (_.size(search.data) > 0) { %>
<ul class="nav nav-list searchResults">
    <% _.each(search.data,function(item,key,list){ %>
    <li class="navItem">
        <% if (journeyActive){ %>
        <a href="#" data-loc-id="<%= item._id %>" class="btnGoToLocation disabled"><%= item.name %></a>
        <%} else {%>
        <a href="#" data-loc-id="<%= item._id %>" class="btnGoToLocation"><%= item.name %></a>
        <%}%>
    </li>
    <% }) %>
</ul>
<% if (search.pageCount > 1) { %>
<div class="pagination">
    <ul>
        <li class="<%=search.btnPreviousClass%>"><a class="btnPaginationPrev" href="#"><--</a></li>
        <% for (var i=0; i < search.pageCount; i++) { %>
            <% if (search.currentPage == i) { %>
                <li class="active"><a class="btnPagination" href="#"><%= i+1 %></a></li>
            <% } else { %>
                <li><a class="btnPagination" href="#"><%= i+1 %></a></li>
            <%}%>
        <%}%>
        <li class="<%=search.btnNextClass%>"><a class="btnPaginationNext"  href="#">--></a></li>
    </ul>
</div>
<%}%>
<% } else { %>
<p>No se encontro ningun resultado</p>
<% } %>
<% } %>

