<div id="search-form">

    <form class="form-search">
        <input type="text" class="input-medium search-query span8" placeholder="Buscar">
        <% if (journeyActive){ %>
        <button type="submit" class="btn btnSearch disabled">Buscar</button>
        <%} else {%>
        <button type="submit" class="btn btnSearch">Buscar</button>
        <%}%>
    </form>
<% if (haveSearched) { %>
    <% if (_.size(links) > 0) { %>
    <h3>Resultados</h3>
    <ul class="nav nav-list">
    <% _.each(links,function(item,key,list){ %>
    <li class="navItem">
        <% if (journeyActive){ %>
        <a href="#" data-loc-id="<%= item._id %>" class="btnGoToLocation disabled"><%= item.name %></a>
        <%} else {%>
        <a href="#" data-loc-id="<%= item._id %>" class="btnGoToLocation"><%= item.name %></a>
        <%}%>
    </li>
    <% }) %>
    </ul>
    <% } else { %>
    <p>No se encontro ningun resultado</p>
    <% } %>
<% } %>
</div>