<div id="tunnelPopup" class="modal modal-client hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Seguir indicaciones</h3>
    </div>
    <div class="modal-body">
        <p></p>
        <div class="btnContinue">
            <a data-dismiss="modal"><img src="/images/common/btnContinue.png" alt="continue"></a>
            <div class="counter">
                (<span id="timeCountDown">5</span>)
            </div>
        </div>
    </div>
</div>