<div class="modal-client modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="pull-right">
            <img src="/images/doctors/logoHM.png">
        </div>
    </div>
    <div class="modal-body">
        <% if (model) { %>
        <div class="pull-left doctor-popup-left-colum">
            <img src="<%= imageUrl %>" alt=" data-id="<%= model._id %>">
        </div>
        <div class="pull-right doctor-popup-right-colum">
            <h4><%=model.firstName%> <%=model.lastName%></h4>
            <p><%=model.details%></p>
        </div>
        <% } %>
    </div>
</div>