<div class="modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Replace image</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="control-group">
                <label class="control-label">New Image File</label>

                <div class="controls">
                    <input class="input-file" type="file" name="notSet">
                    <input type="hidden" name="notSet" value="noWayJose">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="#" class="btn" data-dismiss="modal">Cancel</a>
            </div>
        </form>
    </div>
</div>