<link rel="stylesheet" type="text/css" href="/javascripts/bootstrap-wysihtml5/dist/bootstrap-wysihtml5-0.0.2.css"></link>
<div class="row-fluid">
    <div class="well">
        <form id="frmModel" enctype="multipart/form-data">
            <fieldset>
                <legend>Edit Doctor</legend>
                <div class="control-group">
                    <label class="control-label" for="firstName">First Name</label>

                    <div class="controls">
                        <input type="text" class="input-block-level" id="firstName" name="firstName" value="<%= model.firstName %>">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="lastName">Last Name</label>

                    <div class="controls">
                        <input type="text" class="input-block-level" id="lastName" name="lastName" value="<%= model.lastName %>">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="speciality">Especialidad</label>

                    <div class="controls">
                        <input type="text" class="input-block-level" id="speciality" name="speciality" value="<%= model.speciality %>">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Details</label>

                    <div class="controls span12">
                        <textarea class="field span12" placeholder="Enter content ..." name="details" rows="20"><%= model.details %></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <% if (typeof(imageUrl) != 'undefined') {%>
                    <img id="imgDoctor" src="<%=imageUrl%>" alt="mapIcon"/>
                    <% } %>
                    <div>
                        <button class="btn btn-small btn-primary btnChangeImage" data-folder="doctors" data-name="imageUrl">Change image</button>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                    <button class="btn navItem" data-navitem="doctors">Cancel</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>