<h1>MAP EDITOR - <%= map.name %></h1>
<div class="row-fluid">

    <ul class="nav nav-tabs">
        <li class="active"><a href="#gridSize" data-toggle="tab">Grid Size</a></li>
        <li><a href="#margins" data-toggle="tab">Margins</a></li>
        <li><a href="#editor-mode" data-toggle="tab">Editor</a></li>
        <li><a href="#utilities" data-toggle="tab">Utilities</a></li>
        <li><a href="#settings" data-toggle="tab">Settings</a></li>
        <li><a href="#mapMetaData" data-toggle="tab">Meta Data</a></li>
    </ul>


    <div class="tab-content">
        <div class="tab-pane active" id="gridSize">
            <form id="frmGrid" class="well form-inline">
                <div class="input-prepend">
                    <span class="add-on">X</span>
                    <input type="text" class="input-mini" name="x" id="x">
                </div>

                <div class="input-prepend">
                    <span class="add-on">Y</span>
                    <input type="text" class="input-mini" name="y" id="y">
                </div>
                <button type="submit" id="btnChangeMesh" class="btn">Apply</button>
            </form>
            <button class="btn btn-primary saveChanges">Save Changes</button>
        </div>
        <div class="tab-pane" id="margins">
            <form id="frmMargins" class="well form-inline">
                <div class="input-prepend">
                    <span class="add-on">L</span>
                    <input type="text" class="input-mini" name="marginLeft" id="marginLeft">
                </div>
                <div class="input-prepend">
                    <span class="add-on">T</span>
                    <input type="text" class="input-mini" name="marginTop" id="marginTop">
                </div>

                <div class="input-prepend">
                    <span class="add-on">B</span>
                    <input type="text" class="input-mini" name="marginBottom" id="marginBottom">
                </div>

                <div class="input-prepend">
                    <span class="add-on">R</span>
                    <input type="text" class="input-mini" name="marginRight" id="marginRight">
                </div>
                <button type="submit" id="btnChangeMargins" class="btn">Apply</button>
            </form>
            <button class="btn btn-primary saveChanges">Save Changes</button>
        </div>
        <div class="tab-pane" id="editor-mode">
            <form class="well">
                <div class="control-group">
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" name="editor-mode" value="toggleNode" checked="">
                            Toggle Nodes
                        </label>
                        <label class="radio">
                            <input type="radio" name="editor-mode" value="markerLocation">
                            Set Marker Location
                        </label>
                        <label class="radio">
                            <input type="radio" name="editor-mode" value="pathfinding">
                            Test Pathfinding
                        </label>
                        <label class="radio">
                            <input type="radio" name="editor-mode" value="nodeInfo">
                            Select Node
                        </label>
                        <label class="radio">
                            <input type="radio" name="editor-mode" value="setKioskLocation">
                            Set Kiosk Location
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="utilities">
            <div class="well">
                <button id="btnBlockAll" class="btn">Block All</button>
                <button id="btnClearAll" class="btn">Clear All</button>
            </div>
        </div>
        <div class="tab-pane" id="settings">
            <div class="well">
                <label class="checkbox">
                    <input type="checkbox" class="editor-config" name="showGrid" checked>
                    Show Grid
                </label>
                <label class="checkbox">
                    <input type="checkbox" class="editor-config" name="showHotSpots" checked>
                    Show Locations
                </label>
                <label class="checkbox">
                    <input type="checkbox" class="editor-config" name="showBlockedTiles" checked>
                    Show Blocked Tiles
                </label>
            </div>
        </div>
        <div class="tab-pane" id="mapMetaData">
            <div class="well">
                <% if (typeof(mapIconImageUrl) != 'undefined') {%>
                <img src="<%=mapIconImageUrl%>" alt="mapIcon"/>
                <% } %>
                <form id="frmSetMapIcon">
                    <div class="control-group">
                        <label class="control-label" for="image">Map Icon Image File</label>

                        <div class="controls">
                            <input class="input-file" id="mapIconFile" type="file" name="image">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSaveMapIcon">Save</button>
                    </div>
                </form>
                <form id="frmMapMetaData">
                    <div class="control-group">
                        <label class="control-label" for="name">Name</label>

                        <div class="controls">
                            <input type="text" class="input-xlarge" id="name" name="name" value="<%= map.name %>">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="btnSaveMapMetaData">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="well">
        <div id="canvasContainer">
        </div>
        <div>
            <button class="btn btn-small btn-primary btnImageChange">Change image</button>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span2 offset4">
        <button class="btn btn-primary saveChanges">Save Changes</button>
    </div>
</div>

<div class="row-fluid">
    <div class="locations">

    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <button class="btn btn-primary navItem" data-navitem="maps">Go Back</button>
    </div>
</div>

<div class="modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Change map image</h3>
    </div>
    <div class="modal-body">
        <form id="frmChangeImage">
            <div class="control-group">
                <label class="control-label" for="image">Image File</label>

                <div class="controls">
                    <input class="input-file" id="image" type="file" name="image">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" id="btnSaveNewImage">Save</button>
                <a href="#" class="btn" data-dismiss="modal">Cancel</a>
            </div>
        </form>
    </div>
</div>