<div class="row">
    <div class="span2">
        <%= item.name %>
    </div>
    <div class="span1">
        [<%= item.node.row%>, <%= item.node.column%>]
    </div>
    <div class="span1">
        <btn class="btn btn-info showLocation" data-id="<%= item._id %>">SHOW</btn>
    </div>
    <div class="span1">
        <btn class="btn btn-success goToLocation" data-id="<%= item._id %>">GO</btn>
    </div>
    <div class="span1">
        <btn class="btn setLocation" data-id="<%= item._id %>">SET</btn>
    </div>
    <div class="span1">
        <btn class="btn btn-danger removeLocation" data-id="<%= item._id %>">DELETE</btn>
    </div>
</div>