<div class="well">
    <form>
        <fieldset>
            <legend>Edit Location</legend>
            <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" name="name" value="<%=model.name%>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="description">Description</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="description" name="description" value="<%=model.description%>">
                </div>
            </div>
            <div class="control-group">
                <span>Location</span>
                <div class="input-prepend">
                    <span class="add-on">X</span>
                    <input type="text" class="input-mini" name="node[column]" value="<%=model.node.column%>">
                </div>

                <div class="input-prepend">
                    <span class="add-on">Y</span>
                    <input type="text" class="input-mini" name="node[row]" value="<%=model.node.row%>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Map
                    <select name="mapId">
                        <% for (var i = 0; i < maps.length; i++) { %>
                        <% var map = maps[i]; %>
                        <% if (map._id == model.mapId) { %>
                            <option value="<%=map._id%>" selected><%=map.name%></option>
                        <%} else { %>
                        <option value="<%=map._id%>" ><%=map.name%></option>
                        <%}%>
                        <% } %>
                    </select>
                </label>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" id="btnSubmit">Save</button>
                <button class="btn navItem" data-navitem="locations">Cancel</button>
            </div>
        </fieldset>
    </form>
</div>